{
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "markup"],
        "plugins": ["show-language", "copy-to-clipboard"],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
