.button {
    border-radius: 4px;
    background-color: $c-primary-alt-blue;
    color: white;
    border: none;
    height: 40px;
}

.searchBar {
    height: 40px;
    width: 300px;
    border-color: lightgray;
    border-radius: 4px;
}
